{%extends 'admin_index.html'%}
{%load static%}
{%block content%}

<div class="ps-4"><a href="{% url 'admin_data_add'%}">
        <button class="btn bg-gradient-info btn-icon-only mb-0 mt-3" data-toggle="modal" data-target="#new-board-modal">
            <i class="fa fa-plus"></i>
        </button></a>
</div>
<br>
<div class="row ">
    
        {% for i in data %}
        <div class="card mb-3 col-md-12 ">
            <div class="card-header text-center pt-4 pb-3">
                <h3 class="font-weight-bold mt-2">
                    {{i.Heading}}
                </h3>
            </div>
            <div class="card-body text-lg-left text-center pt-0">
                <h5>{{i.Describe}}</h5>
                <a href="{% url 'admin_viewdata' i.id %}" class="btn btn-icon bg-gradient-primary  mt-3 mb-0">
                    View
                    <i class="fas fa-file ms-1" aria-hidden="true"></i>
                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="{% url 'admin_deletedata' i.id %}" class="btn btn-icon bg-gradient-danger  mt-3 mb-0">
                    Delete
                    <i class="fas fa-trash ms-1" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}